main-login {
  float: right;
  width: 18%;
}
#main-heading {
  float: left;
  padding-left: 1.5%;
  font-size: 26px;
  width: 80%;
  height: 145px;
  line-height: 145px;
  position: relative;
  left: 0px;
}
fieldset{
  margin: 1%;
  font-size: 19px;
  padding-left: 14px;
  padding-right: 14px;
  line-height: 30px;
}
main{
  margin-top: 0.5%;
  background-color: #fff;
  padding: 0.5%;
  box-shadow: 0 0 5px #000000;
  position: relative;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 13%;
  margin-right: 13%;
  background-color: #e6e6e6;
}
header {
  position: relative;
  overflow: auto;
  background-image: url("../data/imgs/softec-background.gif");
  color: #fff;
  box-shadow: 0 0 4px #000000;
}
footer {
  background-image: url("../data/imgs/softec-background.gif");
  color: #fff;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 4px #000000;
  margin-top: 0.1%;
}
h1 {
  font-size: 38px;
  padding-left: 14px;
}
footer h3 {
  padding-left: 1%;
  font-size: 16px;
  text-align: center;
}
h3 {
  font-size: 22px;
  padding-left: 14px;
}
p {
  font-size: 18px;
  padding-left: 14px;
  padding-right: 14px;
  font-size: bold;
}
.shadow {
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}
